#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #EFF6E0;
    font-family: Garamond, Georgia, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #AEC3B0;
}
h2 {
    margin: 0;
}
h4 {
    color: #01161E;
}
nav a {
    text-align: center;
    color: #01161E;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #124559;
    color: #598392;
}
footer {
    background-color: #AEC3B0;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #01161E;
    text-decoration: none;
}
footer a:hover {
    color: #598392;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}   
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;    
    background-color: #EFF6E0;
}
.book, .join {
    background-color: #AEC3B0;
    color: #01161E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #124559;
    color: #598392;
}
.msg {
    background-color: #AEC3B0;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #01161E;
}
.msg p {
    color: #01161E;
    font-size: .8em;
    padding-bottom: 15px;
}
.home-title {
    color: #01161E;
    font-size: 2em;
    margin-top: 10px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #01161E;
}